body{
    background-color: #f4f4fe;
}
nav h2{
    color: #4E47FF;
    font-size: 50px;
}
footer h2{
    color: #4E47FF;
    font-size: 90px;
}

.open-sans-font {
  font-family: "Inter Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.btn-primary{
background-color: #4E47FF;
color: white;
padding: 10px 25px;
border-radius: 10px;
border-color: #4E47FF;


}

.open-sans-fontt {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
nav {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px
}

.header{
    background-image: url(Assets/Hero-bg.png);
    width: 1440px;
    height: 698px;
}

.header-container{
    display: flex;
    flex-direction: column;
    margin: 150px auto;
    justify-content: center;
    text-align: center;
    height: 237px;
    width: 750px;
}
.header-container h1{
    margin-left: 35px;
    font-size: 45px;
}

.action-container{
    height:328px;
    width: 1140px;
    display: flex;
    justify-content: space-between;
    margin: 116px 150px;
 
}
.action-container img{
    max-width: 403px;
    max-height: 328px;
    border-radius:48px ;
}
.action-card{
    height: 203px;
    width: 517px;
}
.action-card p{
    color: #252432;
}
.productive-user-container{
    background-color: #E8EBFF;
    max-height: 306px;
    width: 1140px;
    margin: 0 150px;
    
    

}
.productive-user-stuffs{
   margin-top: 50px;
}

.user-count-container{
    display: flex;
    justify-content: center;
}
.user-count-container .count{
 margin-right: 100px;
}
.productive-user-stuffs h2{
    text-align: center;
    
}
.count h1{
    color: #463FFF;
    /* font-size: 50px; */
}
.count p{
    color: #1e1c1cdc;
}

.get-in-touch{
    width: 1140px;
    height:632px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 150px ;
}
.header-div{
    height: 232px;
    width: 528px;
}
.header-div h1{
    font-size: 60px;
}
form{
    height: 500px;
    width: 500px;

}
form textarea{
    display: block;
    border: none;
}
form .name-div,.email-div,.message-div{
    margin-bottom: 30px;
}

.name-div,.email-div{
    display:block
}
 input[type="text"], input[type="email"]{
    border: none;
     padding: 10px 20px;
 }

 footer{
    background-color: white;
 }

a{
    text-decoration: none;
 }

 .footer-container{
    width: 531px;
    height: 270px;
    margin: 0 auto;
    padding: 80px 0;
 }

 .links a{
    margin-left: 40px;
 }
.footer-container h2{
    margin-left: 100px;
  }
  
  .footer-container h2,p,.links{
    margin-bottom: 20px;
  }